<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extreme Mode</title>
</head>
<body>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
    <link href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" rel="stylesheet"/>
    <script src="https://unpkg.com/esri-leaflet@3.0.10/dist/esri-leaflet.js"></script>
    <script src="https://unpkg.com/esri-leaflet-vector@4.0.1/dist/esri-leaflet-vector.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFRU5p5PYXEwRjNkMF__ZrmqxJY8Hbfgs&callback=initialize" defer></script>
    <script src="/static/lib/js/jquery.js?{{ version }}"></script>
    <script src="/static/lib/js/confetti.js?{{ version }}"></script>
    <link href="/static/css/geordle.css?{{ version }}" rel="stylesheet"/>

    <canvas id="confetti-canvas"></canvas>
    <div id="game-over-container" style="display: none;">
        <div id="game-over-screen">
            <div id="game-over-info-container">
                <div class="game-over-header">
                    <div class="text-header">
                        <span style="color: red;">GEO</span>RDLE
                    </div>
                </div>
                <div id="game-over-info">
                    <div id="game-over-map-container">
                        <div id="game-over-map"></div>
                    </div>
                    <div id="game-over-stats-container">
                        <div class="game-over-stats">
                            <div id="distance" class="game-over-stat-field">
                                <div class="game-over-stat-header text-header">Distance</div>
                                <div class="game-over-stat-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="game-over-buttons">
                    <div id="copy-game-text" class="game-over-button hover-button">Share</div>
                    <a href="/geordle/stats">
                        <div id="view-user-stats" class="game-over-button hover-button">View Stats</div>
                    </a>
                    <div id="close-game-over" class="game-over-button hover-button">Close</div>
                </div>
                <div id="copy-text-popup">Copied!</div>
            </div>
        </div>
    </div>
    <div id="game">
        <div id="game-action-buttons">
            <div class="osm-open-map game-action-button hover-button" style="display: flex;">
                <div class="osm-button-text">
                    Guess
                </div>
            </div>
            <div class="game-results-button game-action-button hover-button" style="display:none;">
                <div class="osm-button-text">
                    Results
                </div>
            </div>
        </div>
        <div id="osm-map-container" style="display: none;">
            <div id="osm-map-popup">
                <div class="osm-map-controls">
                    <div class="osm-map-header">
                        <div class="osm-close-map osm-map-button hover-button">
                            <img class="x icon" src="/static/img/x.png" alt="Close Map"/>
                        </div>
                        <div class="osm-submit osm-map-button hover-button">
                            <img class="check icon" src="/static/img/check.png" alt="Submit Guess"/>
                        </div>
                    </div>
                </div>
                <div id="osm-map"></div>
            </div>
        </div>
        <div id="streetview">
            <div id="compass">
                <div id="north" class="direction-marker">N</div>
                <div id="east" class="direction-marker">E</div>
                <div id="south" class="direction-marker">S</div>
                <div id="west" class="direction-marker">W</div>
                <div id="pointer-container">
                    <div id="pointer" data-angle=0>
                        <div style="color: red;">/|\</br>||</br></div>||</br>||
                    </div>
                </div>
            </div>
            <div id="streetview-container"></div>
        </div>
        <div id="geordle-logo">
            <span style="color: red;">GEO</span>RDLE
        </div>
    </div>

    <script>
        let extremeMode = true;
        let esriApiKey = "{{ credentials['esri'] }}";
    </script>
    <script src="/static/js/saves.js?{{ version }}"></script>
    <script src="/static/js/streetview.js?{{ version }}"></script>
    <script src="/static/js/em-game.js?{{ version }}"></script>
</body>
</html>